body{
color: #35a4d3;
}

.jumbotron{
background-color: #35a4d3;
}



.home-bottom {
text-align: center;
}

.portada{
-webkit-border-redius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius:50%;
border-radius: 20%;
border: solid 3px #eec663;
display: inline-block;
}

.row{
padding-top: 10px;
padding-left: 95px;
}


#header {
padding-top: 95px;
padding-bottom: 95px;
}

#header a{
//text-transform: uppercase;
font-size: 30px;
color: #eec663;
margin: 0 15px 0 15px;
font-weight: bolder;
line-height: 1.2;
}

#header p {
margin-top:1px;
font-size:40px;
color:#eec663;
font-weight: bolder;
line-height: 1.2;

}

#header a:hover{
color: #008b8b;
}



#text{
font-size: 20px;
line-height: 1.70;
text-align: justify;
color: #222222;
}



#experience {
padding-left: 80px;
padding-right: 100px;
padding-top: 10px;
padding-bottom: 50px;
background-color:#35a4d3;

}



#experience p{
font-size: 20x;
line-height: 1.5;
color: white;
text-align: justify;
margin-top: 20px;
}
#experience a{
font-size: 18px;
line-height: 1.5;
color: white;
text-align: justify;
}
#bot {
 margin-top: 40px;
}


#experience a:hover {
color: blue;
}

#experience h3{
font-size: 20px;
line-height: 1.70;
color: white;
text-align: justify;
margin-left: 10px;
}

#experience h2{
	font-size: 2em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid white;
	color: white;
}


.btn boton{
margin-top: 50px;
}


#about{
background: white;
padding-top: 50px;
padding-left: 50px;
padding-right: 100px;
}

#about h2{
font-size: 32px;
//text-transform: uppercase;
margin: 70px 0 70px 0;
color: #35a4d3;
border-bottom: 1px solid #35a4d3;
margin-bottom:20px
}

#about p {
text-align:justify;
color: #35a4d3;
font-size:18px;
margin-top:30px;
}




#about .btn{
margin-top: 90px;
margin-bottom: 135px;
background-color: #3498DB;
font-size: 17px;
padding: 12px 40px;
}
#about .btn:hover{
background-color: #99CBED;
}


#ima1{
margin-right:10px
}

#ima2{
margin-right:10px;
margin-top:40px
}

#ima3{
margin-right:10px;
margin-top:20px
}

#ima4{
margin-right:10px;
margin-top:40px
}


#awards h2{
	font-size: 2em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #00c8b8;
	color: #35a4d3;
}

#awards h3{
	font-size: 1.5em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	color: #35a4d3;
}


#awards p{
text-align:justify;
color: #35a4d3;
font-size:20px;
margin-top:30px;
}



#work{
background: white;
padding-top: 40px;
padding-right: 10px;


}

#work p {
text-align:justify;
color: #35a4d3;
font-size:21px;
margin-top:20px;
//font-weight: bolder;

}

#work h2{
font-size: 35px;
padding-top:10px;
border-bottom: 1px solid #35a4d3;
}


#work h5{
font-size: 20px;
}

#work h5:hover{
color: #99CBED;
}

#ima{
margin-left:150px;
margin-top:100px;
}



#contacto{
padding-bottom: 200px;
padding-top:150px;
background: #35a4d3;
}


#contacto p{
font-size: 23px;
padding-left:50px;
color: white;
}

#contacto h2{
font-size: 35px;
//text-transform: uppercase;
margin: 70px 0 35px 0;
color: white;
padding-left:50px;

}
#contacto a{
color: white;


}
#contacto a:hover {
color: blue;
}


#footer{
height: 50px;
margin-bottom: 0px;
padding-top: 25px;
padding-bottom: 60px;
}

#footer span{
color: #35a4d3;
font-size: 15px;
}
#icon{
float: right;
margin-left: 10px;
}


#awards{
background: white;
padding-top: 50px;
padding-left: 50px;

}



/*NAVIGATION*/

.pageScrollerNav{
	padding-top: 0.05em;
	z-index: 100;
	width: 1%;
	height: 100%;
	position: fixed;
	font-family: 'Roboto', sans-serif;
	font-size: 0.25em;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	padding-right: 1em;
	padding-left: 1em;
}
.pageScrollerNav ul{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top:100%;
}

.pageScrollerNav ul li{
	list-style-type: none;
	text-align: center;
	display: inline-block;
	width: 27%;
	padding: 0.6em;
	margin-right: auto;
	margin-left: auto;
	font-weight: bolder;
	text-transform: lowercase;
	color: #000;

}

.stylish{
	display:inline-block;
	width:1em;
	height:1em;
	border-radius:66px;
	border:4px double #ccc;
	font-size:20px;
	color:#eec663;
	line-height:100px;
	text-align:center;
	text-decoration:none;
	//text-shadow:0 1px 0 #fff;
	background:#eec663;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;

}

.stylish:hover{
	border:4px double #bbb;
	color:#008b8b;
	text-decoration:none;
	background:#008b8b;
}

.stylish span{
	display: inline-block;
	position: absolute;
	margin-top: -2.2em;
	margin-left: 1em;

}

.pageScrollerNav ul li a:hover{
	color: #008b8b;
}

#home{
	height: 100%;
}


#contact-buttons{
	list-style-type: none;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	margin-right: auto;
}

#contact-buttons li{
	display: inline;
	opacity: 0.4;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	margin-right: auto;


}

#contact-buttons li:hover{
	opacity: 1.0;
}
